{% extends 'auth/account_settings.html' %}

{% load common ui %}

{% block subnav_user_selection_criteria %}active{% endblock %}

{% block title %}
  <h2>Selection Criteria</h2>
{% endblock %}

{% block content %}
  <form action="{% url user_selection_criteria_save %}" method="POST">
    {% csrf_token %}

    <table class="table table-striped sortable">
      <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Default Value</th>
      </tr>
      </thead>
      <tbody>
      {% for criterion in user_selection_criteria %}
        <tr>
          <td>{{ criterion.name }}</td>
          <td>
            <input type="text" id="criterion-{{ criterion.name }}" name="usc-{{ criterion.name }}" value="{{ criterion.value }}" style="width: 60px; padding: 2px;"/>
            <img src="{{ STATIC_URL }}img/edit_undo.png" style="height: 20px" title="Set to default"
                    onclick="javascript:$('#criterion-{{ criterion.name }}').val('{{ criterion.default }}');"/>
          </td>
          <td>{{ criterion.default }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="100%" class="table-empty">No selection criteria defined.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <input type="submit" name="command" value="Save" class="btn btn-primary"/>
    <input type="submit" name="command" value="Cancel" class="btn btn-primary"/>
  </form>
{% endblock %}