{% extends 'provider/base.html' %}

{% load common ui %}

{% block head_title %}Clusters{% endblock %}

{% block nav_clusters %}active{% endblock %}

{% block subnav %}
  <li class="{% block subnav_clusters %}{% endblock %}"><a href="{% url provider_clusters provider.id %}">Clusters</a></li>
{% endblock %}

{% block breadcrumbs %}
{% url provider_clusters provider.id as url %}{% breadcrumb 'Clusters' url %}{{ block.super }}
{% endblock %}
