{% extends 'provider/clusters/base.html' %}

{% load common ui %}

{% block head_title %}{{ object.name }}{% endblock %}

{% block breadcrumbs %}
{% url provider_clusters_detail provider.id object.id as url %}{% breadcrumb object.name url %}{{ block.super }}
{% endblock %}

{% block title %}
  <h2>{{ object.name }}</h2>
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="span4">
      <h3>Servers</h3>
      <ul class="nav nav-tabs nav-stacked">
        {% for server in object.servers.full %}
          <li><a href="{% url provider_servers_detail provider.id server.id %}">{{ server.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    
    <div class="span1">&nbsp;</div>

    <div class="span4">
      <h3>Virtual Machines</h3>
      <ul class="nav nav-tabs nav-stacked">
        {% for vm in object.vms.full %}
          <li><a href="{% url provider_vms_detail provider.id vm.id %}">{{ vm.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
