{% extends 'provider/ovfs/base.html' %}

{% load common ui %}

{% block head_title %}Create OVF{% endblock %}

{% block subnav_ovfs_create %}active{% endblock %}

{% block breadcrumbs %}
{% url provider_ovfs_create as url %}{% breadcrumb 'Create OVF' url %}{{ block.super }}
{% endblock %}

{% block js_ready %}{{ block.super }}
{% comment %}<script type="text/javascript">//{% endcomment %}
  var Memory = function(parent, data) {
    this.parent = function(){ return parent };
    this.memory = ko.observable(data || 512);
    this.tpl = 'tpl-vm-memory';
  };
  
  var Cpu = function(parent, data) {
    this.parent = function(){ return parent };
    this.cpus = ko.observable(data || 1);
    this.tpl = 'tpl-vm-cpu';
  };
  
  var vmItemTypes = [{
    name: 'Memory',
    type: Memory
  }, {
    name: 'CPU',
    type: Cpu
  }];
  
  var Vm = function(parent, name) {
    var self = this;
    
    this.parent = function(){ return parent };
    
    this.name = ko.observable(name || 'New VM');
    this.items = ko.observableArray();
    
    this.newItemType = ko.observable();
    this.itemTypes = vmItemTypes;
    
    this.newItemType.subscribe(function(itemType) {
      if (itemType) {
        var item = new itemType.type(self);
        self.items.push(item);
        
        self.newItemType(null);
      }
    });
    
    this.tpl = function(obj) {
      return obj.tpl;
    };
  };
  
  var Vms = function() {
    var self = this;
    
    this.vms = ko.observableArray();
    
    this.addVm = function() {
      self.vms.push(new Vm(self));
    };
    
    this.tpl = function(obj) {
      return 'tpl-vm';
    };
  };
  
  var viewModel = {
    vms: new Vms()
  };
  
  viewModel.vms.addVm();

  ko.applyBindings(viewModel);
  
  window.vm = viewModel;
//{% comment %}</script>{% endcomment %}
{% endblock %}

{% block title %}
  <h2>Create ovf</h2>
{% endblock title %}

{% block content %}
  <form action="" method="post" class="form-horizontal">
    <fieldset>
      {% csrf_token %}
      
      {% form_errors form %}
      
      {% form_field form.name 'Name' %}
      
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">Create OVF</button>
      </div>
    </fieldset>
  </form>
  
  <div data-bind="template: {name: 'tpl-vms', data: vms}"></div>
  
  <script type="text/html" id="tpl-vms">
    <h3>Virtual machines</h3>
    
    <button class="btn btn-primary" data-bind="click: addVm">Add VM</button>
    
    <div class="vms" data-bind="template: {name: tpl, foreach: vms}"></div>
  </script>
  
  <script type="text/html" id="tpl-vm-cpu">
    <div class="control-group">
      <label for="" class="control-label">CPUs</label>
      <div class="controls">
        <input type="text" class="input-xlarge" data-bind="value: cpus" />
      </div>
    </div>
  </script>
  
  <script type="text/html" id="tpl-vm-memory">
    <div class="control-group">
      <label for="" class="control-label">Memory</label>
      <div class="controls">
        <input type="text" class="input-xlarge" data-bind="value: memory" />
      </div>
    </div>
  </script>
  
  <script type="text/html" id="tpl-vm-image">
    <div class="control-group">
      <label for="" class="control-label">Image</label>
      <div class="controls">
        <input type="text" class="input-xlarge" data-bind="value: data.image" />
      </div>
    </div>
  </script>
  
  <script type="text/html" id="tpl-vm">
    <div class="form-horizontal">
      <legend>
        <input type="text" class="input-xlarge" data-bind="value: name" />
      </legend>
      <fieldset id="" class="">
        <div class="well">
          <div class="control-group" style="margin: 0">
            <label for="" class="control-label">Add new</label>
            <div class="controls">
              <select data-bind="options: itemTypes, optionsCaption: 'Choose ...', optionsText: 'name', value: newItemType"></select>
            </div>
          </div>
        </div>
        
        <div data-bind="template: {name: tpl, foreach: items}"></div>
      </fieldset>
    </div>
  </script>
{% endblock %}
