{% extends 'provider/ovfs/base.html' %}

{% load common ui %}

{% block head_title %}Create OVF{% endblock %}

{% block subnav_ovfs_create %}active{% endblock %}

{% block breadcrumbs %}
{% url provider_ovfs_create provider.id as url %}{% breadcrumb 'Create OVF' url %}{{ block.super }}
{% endblock %}

{% block title %}
  <h2>Create ovf</h2>
{% endblock title %}

{% block content %}
  <form action="" method="post" class="form-horizontal">
    <fieldset>
      {% csrf_token %}
      
      {% form_errors form %}
      
      {% form_field form.name 'Name' %}
      
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">Create OVF</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
