{% extends 'provider/ovfs/base.html' %}

{% load common ui %}

{% block head_title %}Edit OVF{% endblock %}

{% block breadcrumbs %}
{% url provider_ovfs_edit provider.id object.id as url %}{% breadcrumb 'Edit OVF' url %}{{ block.super }}
{% endblock %}

{% block title %}
  <h2>Edit OVF</h2>
{% endblock title %}

{% block content %}
  <form action="" method="post" class="form-horizontal">
    <fieldset>
      {% csrf_token %}
      
      {% form_errors form %}
      
      {% form_field form.name 'Name' %}
      
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
