{% extends 'provider/ovfs/base.html' %}

{% load common ui %}

{% block subnav_ovfs %}active{% endblock %}

{% block title %}
  <h2>OVFs</h2>
{% endblock %}

{% block content %}
  <table class="table table-striped sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for object in model.full %}
      <tr>
        <td>{{ object.name }}</td>
        {% listaction %}
          <li><a href="{% url provider_ovfs_edit provider.id object.id %}"><i class="icon-pencil"></i> Edit</a></li>
          <li><a href="{% url provider_ovfs_remove provider.id object.id %}"><i class="icon-remove"></i> Remove</a></li>
        {% endlistaction %}
      </tr>
    {% empty %}
      <tr><td colspan="100%" class="table-empty">No OVFs yet.</td></tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
