{% extends 'provider/servers/base.html' %}

{% load common ui %}

{% block head_title %}{{ object.name }}{% endblock %}

{% block breadcrumbs %}
{% url provider_servers_detail provider.id object.id as url %}{% breadcrumb object.name url %}{{ block.super }}
{% endblock %}

{% block title %}
  <h2>{{ object.name }}</h2>
{% endblock title %}

{% block content %}
  <h3>CPU</h3>
  
  <br />
  
  <div class="row">
    <div class="span4">
      <table class="table">
        <tbody>
          <tr>
            <th>Cores</th>
            <td>{{ object.cpu_cores }}</td>
          </tr>
          <tr>
            <th>Speed</th>
            <td>{{ object.cpu_speed }} MHz</td>
          </tr>
          <tr>
            <th>Load one</th>
            <td>{{ object.cpu_load_one }}</td>
          </tr>
          <tr>
            <th>Load five</th>
            <td>{{ object.cpu_load_five }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <h3>Memory</h3>
  
  <br />
  
  <div class="row">
    <div class="span4">
      <table class="table">
        <tbody>
          <tr>
            <th>Total</th>
            <td>{{ object.ram_total|multiplyint:1048576|filesizeformat }}</td>
          </tr>
          <tr>
            <th>Used</th>
            <td>{{ object.ram_used|multiplyint:1048576|filesizeformat }}</td>
          </tr>
          <tr>
            <th>Free</th>
            <td>{{ object.ram_free|multiplyint:1048576|filesizeformat }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
