{% extends 'provider/servers/base.html' %}

{% load common ui %}

{% block subnav_servers %}active{% endblock %}

{% block title %}
  <h2>Servers</h2>
{% endblock %}

{% block content %}
  <table class="table table-striped sortable">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
    {% for object in model.full %}
      <tr>
        <td><a href="{% url provider_servers_detail provider.id object.id %}">{{ object.name }}</a></td>
      </tr>
    {% empty %}
      <tr><td colspan="100%" class="table-empty">No Servers yet.</td></tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
