{% extends 'provider/vos/base.html' %}

{% load common ui %}

{% block head_title %}{{ object.name }}{% endblock %}

{% block breadcrumbs %}
{% url provider_vos_detail provider.id object.id as url %}{% breadcrumb object.name url %}{{ block.super }}
{% endblock %}

{% block title %}
  <h2>{{ object.name }}</h2>
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="span4">
      <h3>Clusters</h3>
      <ul class="nav nav-tabs nav-stacked">
        {% for cluster in object.clusters.full %}
          <li><a href="{% url provider_clusters_detail provider.id cluster.id %}">{{ cluster.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
