{% extends 'provider/slats/base.html' %}

{% load common ui %}

{% block head_title %}{{ object.name }}{% endblock %}

{% block breadcrumbs %}
{% url provider_slats_detail provider.id object.id as url %}{% breadcrumb object.name url %}{{ block.super }}
{% endblock %}

{% block js_ready %}
  var editor = CodeMirror.fromTextArea($('#document')[0], {
    mode: {
      name: 'xml'
    },
    lineNumbers: true
  });
{% endblock %}

{% block title %}
  <h2>{{ object.name }}</h2>
{% endblock title %}

{% block content %}
  <textarea id="document">{{ object.content }}</textarea>
{% endblock %}
