{% extends 'provider/slats/base.html' %}

{% load common ui %}

{% block subnav_slats %}active{% endblock %}

{% block title %}
  <h2>SLATs</h2>
{% endblock %}

{% block content %}
  <table class="table table-striped sortable">
    <thead>
      <tr>
        <th>Name</th>
        <th>URL</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for object in model.full %}
      <tr>
        <td><a href="{% url provider_slats_detail provider.id object.id %}">{{ object.name }}</a></td>
        <td>{{ object.url }}</td>
        {% listaction %}
          <li><a href="{% url provider_slats_edit provider.id object.id %}"><i class="icon-pencil"></i> Edit</a></li>
          <li><a href="{% url provider_slats_remove provider.id object.id %}"><i class="icon-remove"></i> Remove</a></li>
        {% endlistaction %}
      </tr>
    {% empty %}
      <tr><td colspan="100%" class="table-empty">No SLATs yet.</td></tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
