{% extends 'user/base.html' %}

{% load common ui %}

{% block js_imports %}
  {{ block.super }}
  <script src="{{ STATIC_URL }}js/libs/sammy/sammy-0.7.1.min.js" type="text/javascript"></script>
  
  {% if HOOKBOX_BASE %}
    <script type="text/javascript" src="{{ HOOKBOX_JS }}"></script>
    
    <script type="text/javascript">
      var HOOKBOX_BASE = '{{ HOOKBOX_BASE }}';
      var HOOKBOX_CHANNEL = '{{ request.user.username }}';
    </script>
  {% endif %}
{% endblock %}

{% block nav_dashboard %}active{% endblock %}

{% block subnav_container %}{% endblock %}
{% block content_class %}span12{% endblock %}
