<div class="span12">
  <ul class="breadcrumb">
    <li><a href="#/">Dashboard</a> <span class="divider">/</span></li>
    <li class="active">Application details</li>
  </ul>
</div>

<div data-bind="template: {name: 'tpl-app-details', data: $data}"></div>

<script type="text/html" id="tpl-app-details">
  <div class="span8">
    <h2>${name} <span data-bind="text: state, attr: { class: stateLabelStyle }"></span></h2>
    
    <br />

    <div data-bind="visible: state() == 'submitted'">
      <a href="#/apps/${id}/start" class="btn create">Start application</a>
      <br /><br />
    </div>

    <div data-bind="visible: state() == 'running'">
      <a href="#/apps/${id}/stop" class="btn btn-danger">Stop application</a>
      <br /><br />
    </div>

    <div data-bind="visible: state() == 'stopped'">
      <a href="#/apps/${id}/kill" class="btn btn-danger">Kill application</a>
      <br /><br />
    </div>

    <div class="row">
      <div class="span4">
        <table class="table">
          <tbody>
            <tr>
              <th>Application ID</th>
              <td>${id}</td>
            </tr>
            <tr>
              <th>Provider</th>
              <td>${provider}</td>
            </tr>
            <tr>
              <th>SLA</th>
              <td>${sla}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
	<div class="row">
      <div class="span8">
        <h4>Application VMs</h4>
        <br />
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
			        <th>VM Name</th>
              <th>local IP</th>
              <th>VNC port</th>
              <th>noVNC link</th>
            </tr>
          </thead>
          <tbody data-bind="template: {name: 'tpl-vm-details', foreach: vms}"></tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="span8">
        <h4>Application log</h4>
        <br />
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th>Time</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody data-bind="template: {name: 'tpl-app-details-log-entry', foreach: log}"></tbody>
        </table>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="tpl-vm-details">
  <tr>
    <td>${name}</td>
    <td>${vmVinAddress}</td>
    <td></td>
    <td><button class="btn btn-primary" type="submit">Connect</button></td>
  </tr>
</script>

<script type="text/html" id="tpl-app-details-log-entry">
  <tr>
    <td>${time}</td>
    <td>${msg}</td>
  </tr>
</script>
