<div class="span12">
  <ul class="breadcrumb">
    <li><a href="#/">Dashboard</a> <span class="divider">/</span></li>
    <li class="active">Submit application</li>
  </ul>
</div>

<div class="span12">
  <div class="header-title">
    <h2>Submit application</h2>
  </div>
  
  <div class="row">
    <div class="span5">
      <div class="control-group ">
        <div class="controls">
          <label for="id_application_name" style="display: none">Application name</label>
          <input type="text" placeholder="Application name" class="big-input span5" id="id_application_name" data-bind="value: name, hasfocus: nameHasFocus" />
        </div>
      </div>
      
      <div class="drop-target ui-droppable" data-bind="droppable: { data: sla, accept: '.slas > li'}">
        <div class="drop-target-container">
          <div class="drop-target-content">
            <div data-bind="visible: !sla().id">
              <h2>SLAT</h2>
              <p>Drag your SLAT here.</p>
            </div>
            <div data-bind="visible: sla().id">
              <h2 data-bind="text: sla().name"></h2>
              <p><a href="#" data-bind="click: slaPreview">Preview</a></p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <button href="#" class="btn btn-primary btn-small" data-bind="click: criteria">Next</button>
        <button href="#" class="btn btn-primary btn-small" data-bind="click: cancel">Cancel</button>
      </div>

    </div>
    
    <div class="span4">
      <br /><br /><br />
      <h3>My SLATs</h3>
      <br />
      <ul class="nav nav-tabs nav-stacked drag-items slas" data-bind="template: {name: 'tpl-app-reg-sla', foreach: slas}"></ul>
    </div>
  </div>
</div>

<div class="modal hide fade" data-bind="bootmodal: { show: slaPreviewShow, visible: slaPreviewVisible }">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>SLAT details</h3>
  </div>
  <div class="modal-body">
    <textarea data-bind="xmlmirror: { value: slaPreviewContent, visible: slaPreviewVisible }"></textarea>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<script type="text/html" id="tpl-app-reg-sla">
  <li data-bind="draggable: { data: $data }"><a href="javascript:void(0);" data-id="${id}">${name}</a></li>
</script>
