<div class="span12 app-create">
  <div class="header-title">
    <h2>Dashboard</h2>
  </div>
  
  <div class="row">
  	<div class="span6">
      <h3>My SLAT Proposals</h3>
      Create new SLAT proposal:
      <table style="margin-left:30px; border-collapse: separate; border-spacing: 5px">
        <tr>
          <td>&bull;</td>
          <td>
            <button onclick="document.location = '#/slas/negotiate'" class="btn" style="width: 150px">From provider SLAT</button>
          </td>
        </tr>
        <tr>
          <td>&bull;</td>
          <td>
            <button onclick="document.location = '#/slats/federation'" class="btn" style="width: 150px">From federation SLAT</button>
          </td>
        </tr>
      </table>

  		<br />
  		<div class="row" data-bind="template: { name: 'tpl-sla-list-entry', foreach: slas }"></div>
  	</div>
  	<div class="span6">
  	  <div class="row">
        <div class="span3"><h3>My applications</h3></div>
        <button onclick="document.location = '#/apps/register'" class="btn span3">Submit application</button>
      </div>
  		<br />
  		<div class="row" data-bind="template: { name: 'tpl-app-list-entry', foreach: apps }"></div>
  	</div>
  </div>
</div>

<script type="text/html" id="tpl-sla-list-entry">
  <div class="span3">
    <div class="well">
      <p align="right"><a href="#/slas/${id}/delete"><i class="icon-remove"></i></a></p>
      <h3 style="padding-bottom: 5px"><a href="#/slas/${id}">${name}</a></h3>
    </div>
  </div>
</script>

<script type="text/html" id="tpl-app-list-entry">
  <div class="span3">
    <div class="well ${stateBoxStyle}">
      <p align="right"><a href="#/apps/${id}/delete"><i class="icon-remove"></i></a></p>
      <h3 style="padding-bottom: 5px"><a href="#/apps/${id}">${name}</a></h3>
      <p><strong>Status:</strong> ${state}</p>
      <p>${msg}</p>
    </div>
  </div>
</script>