<div class="span12">
  <ul class="breadcrumb">
    <li><a href="#/">Dashboard</a> <span class="divider">/</span></li>
    <li class="active">Create SLA Template</li>
  </ul>
</div>

<div class="span12">
  <div class="header-title">
    <h2>Create SLA Template</h2>
  </div>
  
  <div class="row">
    <div class="span8">
      <fieldset>
        <div class="control-group">
          <label class="control-label" style="font-weight: bold">Provider <span>*</span></label>
          <div class="controls">
            <span class="uneditable-input" data-bind="text: provider().name"></span>
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" style="font-weight: bold" for="id_name">Name <span>*</span></label>
          <div class="controls">
            <input type="text" id="id_name" data-bind="value: name, hasfocus: nameHasFocus"/>
          </div>
        </div>
        
        <div class="control-group ">
          <label class="control-label" style="font-weight: bold" for="id_sla">SLA Template <span>*</span></label>
          <div class="controls">
            <textarea id="id_sla" data-bind="xmlmirror: { value: content }"></textarea>
          </div>
        </div>
        
        <div class="form-actions">
          <button class="btn btn-primary" data-bind="click: negotiate_v1_1">Create</button>
        </div>
      </fieldset>
    </div>
    
    <div class="span4">
      <h3>Federation SLA Templates</h3>
      <p style="color: grey">Click on template to load it</p>
      <br />
      <table class="table table-striped table-condensed">
        <tbody data-bind="template: {name: 'tpl-slat-entry', foreach: slats }"></tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/html" id="tpl-slat-entry">
  <tr>
    <td>
      <a href="#" data-bind="click: function() { $parent.selectSlat($data) }">${name}</a>
    </td>
  </tr>
</script>