<div class="span12">
  <ul class="breadcrumb">
    <li><a href="#/">Dashboard</a> <span class="divider">/</span></li>
    <li class="active">SLA Negotiation</li>
  </ul>
</div>

<div class="span12">
  <div class="header-title">
    <h2>SLA Negotiation Offer</h2>
  </div>
  
  <div data-bind="template: {name: 'tpl-agreement-term', foreach: agreementTerms}"></div>
  
</div>

<div class="span12">
	<div class="form-actions">
	  <button id="renegotiate-button" class="btn btn-primary" data-bind="click: renegotiate, enable: isOfferEdited">Negotiate</button>
	  <button class="btn btn-primary" data-bind="click: acceptAgreement, disable: isOfferEdited">Accept Agreement</button>
	  <button id="cancel-button" class="btn btn-primary" data-bind="click: cancelNegotiaion">Cancel Agreement</button>
	  <div>
	  	<br />
	  	<span><small>*To renegotiate click on <em>Negotiated Value</em> table cell to edit the value.</small></span>
	  </div>
	</div>
</div>
  
<script type="text/html" id="tpl-agreement-term">
	<div class="well">
		<h3><small>Agreement Term:</small> ${agreementTermId}</h3>
		<br />
	    <table class="table table-striped table-condensed sortable white-bg">
	   		<thead>
	   			<tr>
	   				<th>Term</th>
	   				<th>Target</th>
	   				<th>Operator</th>
	   				<th>SLAT Value</th>
	   				<th>Negotiated Value</th>
	   			</tr>
	   		</thead>
      		<tbody data-bind="template: {name: 'tpl-guarantees', foreach: guarantees}"></tbody>
	   	</table>
   	</div>
</script>

<script type="text/html" id="tpl-guarantees">
  <tr>
    <td>${qosTerm}</td>
    <td>${target}</td>
    <td>${operator}</td>
    <td data-bind="text: threshold1&&threshold1.value"></td>
    <td data-bind="text: threshold2&&threshold2.value, editable: threshold2, click: $root.editNegotiatedValue"></td>
  </tr>
</script>
