<div class="span12">
  <ul class="breadcrumb">
    <li><a href="#/">Dashboard</a> <span class="divider">/</span></li>
    <li class="active">Create SLAT Proposal</li>
  </ul>
</div>

<div class="span12">
  <div class="header-title">
    <h2>Create SLAT Proposal</h2>
  </div>
  
  <div class="row">
    <div class="span12 sla-providers-filters">
      <hr />
      
      <div class="row">
      	<div class="span6">
          <div class="slider">
            <p><strong>RAM total:</strong> &gt;= <span data-bind="text: UnitFormat.size(filters.ramTotal(), 2)"></span></p>
            <div class="slider-ui" data-bind="slider: {value: filters.ramTotalPow, min: 7, max: 16, step: 0.5}"></div>
          </div>
        </div>
        
        <div class="span6">
          <div class="slider">
            <p><strong>RAM free:</strong> &gt;= <span data-bind="text: UnitFormat.size(filters.ramFree(), 2)"></span></p>
            <div class="slider-ui" data-bind="slider: {value: filters.ramFreePow, min: 7, max: 16, step: 0.5}"></div>
          </div>
        </div>
        
        <div class="span6">
          <div class="slider">
            <p><strong>CPU cores:</strong> &gt;= <span data-bind="text: filters.cpuCores"></span></p>
            <div class="slider-ui" data-bind="slider: {value: filters.cpuCores, min: 1, max: 16, step: 1}"></div>
          </div>
        </div>
        
        <div class="span6">
          <div class="slider">
            <p><strong>CPU speed:</strong> &gt;= <span data-bind="text: UnitFormat.cpu(filters.cpuSpeed())"></span></p>
            <div class="slider-ui" data-bind="slider: {value: filters.cpuSpeed, min: 500, max: 5000, step: 100}"></div>
          </div>
        </div>
        
        <div class="span6">
          <div class="slider">
            <p><strong>CPU load one:</strong> &lt;= <span data-bind="text: filters.cpuLoadOne()"></span></p>
            <div class="slider-ui" data-bind="slider: {value: filters.cpuLoadOne, min: 0.01, max: 5.0, step: 0.1}"></div>
          </div>
        </div>
        
        <div class="span6">
          <div class="slider">
            <p><strong>CPU load five:</strong> &lt;= <span data-bind="text: filters.cpuLoadFive()"></span></p>
            <div class="slider-ui" data-bind="slider: {value: filters.cpuLoadFive, min: 0.01, max: 5.0, step: 0.05}"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="span12">
      <div class="providers-list">
        <hr />
        <h3>Matching providers</h3>
        <br />
        
        <div data-bind="template: {name: 'tpl-providers', foreach: providers}"></div>
        
        <p data-bind="visible: !providers().length">No providers match specified requirements.</p>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="tpl-providers">
  <div class="well">
    <h3><a href="#" data-bind="click: function() { $parent.selectProvider($data); }">${name}</a></h3>
    <br />
    <table class="table table-striped table-condensed sortable white-bg" style="margin: 0">
      <thead>
        <tr>
          <th>Server</th>
          <th>RAM total</th>
          <th>RAM used</th>
          <th>RAM free</th>
          <th>CPU cores</th>
          <th>CPU speed</th>
          <th>CPU load one</th>
          <th>CPU load five</th>
        </tr>
      </thead>
      <tbody data-bind="template: {name: 'tpl-providers-server', foreach: servers}"></tbody>
    </table>
  </div>
</script>

<script type="text/html" id="tpl-providers-server">
  <tr>
    <td>${name}</td>
    <td>${ramTotal}</td>
    <td>${ramUsed}</td>
    <td>${ramFree}</td>
    <td>${cpuCores}</td>
    <td>${cpuSpeed}</td>
    <td>${cpuLoadOne}</td>
    <td>${cpuLoadFive}</td>
  </tr>
</script>
