{% comment %}{% load static from staticfiles %}{% endcomment %}

<!DOCTYPE html>
<html>
    <head>
<script type="text/javascript" src="/uc3/media/jquery.min.js"></script>

        <title>Contrail UC 3</title>
        

    </head>
    <body>

        {% comment %}

        <a href="{% url "home" %}">Home</a> |
        
        {% endcomment %}

 
<!--         <a href="{% url "bag_of_tasks.views.monitor" %}">Monitor</a> | -->


        <a href="{% url "bag_of_tasks.views.creation" %}">BoT Creation</a>


        {% if user.is_staff %} | 
        <a href="{% url 'admin:index' %}">Admin</a>
        {% endif %}

        
        {% if user.is_authenticated %}
            You are logged in as <b>{{ user.username }}</b>.
            <a href="{% url "logout" %}">Logout</a>
        {% else %}
            <a href="{% url "login" %}?next={{ request.path }}">Login</a>
        {% endif %}
        
        
        {% block content %}{% endblock %}

        <p />
        <hr />
<!--        Copyright &copy; 2012 <a href="http://stfc.ac.uk/">The Science and Technology Facilities Council</a>	-->

    </body>
</html>
