{% extends "base.html" %}

{% block content %}

<p>You are now logged out.</p>

<p><a href="{% url "home" %}">Return to home page</a> or <a href="{% url "login" %}">log in again</a>.</p>
    
{% endblock %}
