{% extends "base.html" %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h3>Services</h3>
<ul>
{% for service in services %}
    <li>SID: {{ service.sid }}, Name: {{ service.name }}, VMID: {{ service.vmid }} </li>
{% endfor %}
</ul>



{% endblock %}
