{% extends "base.html" %}

{% block head %}
    {{ block.super }}
    {% if refresh %}
    <meta http-equiv="refresh" content="5" />
    {% endif %}
{% endblock head %}

{% block content %}
<h2>Execute test page</h2>

<p>The command entered below will execute a debug command on the server in a sub-shell. </p>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="{% url "bag_of_tasks.views.executeOneShot" %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="ExecuteOneShot" />
</form>

{% endblock%}