{% extends "base.html" %}

{% block content %}
<h2>BoT file creation page</h2>




<div id="container" style="width:1000px">

<p>This page allows you to create a BoT file by uploading data files and adding
SANS models to compare against.</p>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h3>Notes</h3>
<ul>
    <li>You must add at least one file and one model or sweep to be able to create a bag-of-tasks.</li>
    <li>To delete an item, tick its deletion tick-box, then click 'Update'.</li>
</ul>




<div id="data" style="width:300px;float:left">


<!-- Test for files already uploaded here -->

<h3>Select Data</h3>



{% for file in files %}

<P>

{% empty %}
<form method="get" action="{% url "bag_of_tasks.views.add_data" %}">
    <input type="submit" value="Add data file" />
</form>

{% endfor %}

<p />

<form  action="{% url "bag_of_tasks.views.creation" %}" method="post" >
    {% csrf_token %}
    
    {% if files %}
    
	    <h3>Data files</h3>
	    
	    <table border="1">
	        <tr>
	            <th>File</th>
	            <th>Delete?</th>
	        </tr>
	    {% for file in files %}
	        <tr>
	            <td>{{ file }}</td>
	            <td><input type="checkbox" name="delete_file" value="{{ file.pk }}"  /></td>
	        </tr>
	    {% endfor %}
	    </table>
	    
	    <p />
    
    {% else %}
    
	    <h3>Please upload a file</h3>

    
    {% endif %}
    
    
    
    
</div>

<div id="models" style="width:300px;float:left">    

    <h3>Single models</h3>
    

    <table border="1">
        <tr>
            <th>Model</th>
            <th>ID</th>
            <th>Delete?</th>
            
        </tr>
    {% for model in models %}
        <tr>
            <td>{{ model }}</td>
            <td>#{{ model.pk }}</td>
            <td><input type="checkbox" name="delete_model" value="{{ model }}_{{ model.pk }}"  /></td>
 
        </tr>
    {% endfor %}
    </table>
    <p />
    
    
    
</div>

<div id="sweep" style="width:400px;float:left">    
    
    <h3>Parameter sweeps</h3>
    
 
    
    <table border="1">
        <tr>
            <th>Model</th>
            <th>ID</th>
            <th># Commands</th>
            <th>Delete?</th>
            <!--<th>Edit</th>-->
        </tr>
    {% for sweep in sweeps %}
        <tr>
            <td>{{ sweep }}</td>
            <td>{{ sweep.pk }}</td>
            <td>{{ sweep.runs }}</td>
            <td><input type="checkbox" name="delete_model" value="{{ sweep }}_{{ sweep.pk }}" ></td>
            <!--<td><input type="submit" name="edit_model" value="{{ sweep }}_{{ sweep.pk }}" /></td>-->
        </tr>
    {% endfor %}
    </table>
    <p />
    
    <input type="submit" value="Update" />
</form>

<p />

  <form method="get" action="{% url "bag_of_tasks.views.add_model" %}">
    {{ selection }}
    <input type="submit" name="add_model" value="Add single model" />
</form>  
    

<form method="get" action="{% url "bag_of_tasks.views.add_parameter_sweep" %}">
    {{ selection }}
    <input type="submit" name="add_sweep" value="Add parameter sweep" />
</form>

<p />

<form method="post" action="{% url "bag_of_tasks.views.creation" %}" >

<!-- <form method="post" action=""> -->

    {% csrf_token %}
    <input type="submit" name="create" value="Run Simulation" /> This will run a parameter sweep with {{ runs }} commands.
</form>

<p />


</div>

<form method="get" action="{% url "bag_of_tasks.views.file_paths" %}">
    <input type="submit" name="view_paths" value="View file paths" />
</form>


{% endblock %}
