{% extends "base.html" %}

{% block content %}
<h2>BoT display page</h2>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{{ bot|linebreaks }}

{% endblock %}
