{% extends "base.html" %}

{% block head %}
    {{ block.super }}
    {% if refresh %}
    <meta http-equiv="refresh" content="5" />
    {% endif %}
{% endblock head %}

{% block content %}
<h2>BoT file result test page</h2>

<p>This page will display a list of files or will refresh every 5 seconds while
your processes are running.</p>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if files %}
<ul>
    {% for file in files %}
        <li><a href="{{ file.url }}">{{ file.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}