{% extends "base.html" %}

{% block head %}
    {{ block.super }}

<!--
    <meta http-equiv="refresh" content="5;URL=https://myriads-serv2.irisa.fr/uc3/bot/monitor/" />
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">
-->


<!-- 

<script type="text/javascript" src="/src/jquery.min.js"></script>

-->



{% endblock head %}

{% block content %}


<script type="text/javascript">

${document).ready(function() {
$.get("/uc3/xhr_view", function(data) {
        alert(data);


        document.getElementById("progressdiv").innerHTML = "Static"
    });
});


function updatepage(str) {


  alert(str)


  document.getElementById("progressdiv").innerHTML = str;

}

</script>

<P>
<div id="progressdiv"></div>

{% endblock%}
