<b>Token</b>: {{token}}</br>
<b>Expire Time</b>: {{expireTime}}</br>
<b>User</b>: {{userUuid}}</br>
<b>Client Name</b>: {{clientName}}</br>
<b>Client Organization</b>: {{clientOrganization}}</br>
<b>Client Location</b>: {{clientLocation}}</br>
