{% extends 'base.html' %}

{% load common ui %}

{% block head_title %}{{ provider.name }}{% endblock %}

{% block nav %}
  <li class="{% block nav_dashboard %}{% endblock %}"><a href="{% url provider_dashboard provider.id %}">Dashboard</a></li>
  <li class="{% block nav_ovfs %}{% endblock %}"><a href="{% url provider_ovfs provider.id %}">OVFs</a></li>
  <li class="{% block nav_slats %}{% endblock %}"><a href="{% url provider_slats provider.id %}">SLATs</a></li>
  <li class="{% block nav_vms %}{% endblock %}"><a href="{% url provider_vms provider.id %}">VMs</a></li>
  <li class="{% block nav_servers %}{% endblock %}"><a href="{% url provider_servers provider.id %}">Servers</a></li>
  <li class="{% block nav_clusters %}{% endblock %}"><a href="{% url provider_clusters provider.id %}">Clusters</a></li>
  <li class="{% block nav_vos %}{% endblock %}"><a href="{% url provider_vos provider.id %}">VOs</a></li>
{% endblock %}

{% block breadcrumbs %}
{% url provider_dashboard provider.id as url %}{% breadcrumb 'Dashboard' url %}
{% url provider as url %}{% breadcrumb 'Home' url %}
{{ block.super }}
{% endblock %}
