{% extends 'base.html' %}

{% load common ui %}

{% block head_title %}Providers{% endblock %}

{% block nav %}
  <li class="active"><a href="{% url provider %}">Home</a></li>
{% endblock %}

{% block subnav_container %}{% endblock %}
{% block content_class %}span12{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
  <h2>Providers</h2>
{% endblock %}

{% block content %}
  <div class="row">
  	<div class="span5">
  	  <ul class="nav nav-tabs nav-stacked">
  	    {% for provider in model.full %}
  	      <li><a href="{% url provider_dashboard provider.id %}">{{ provider.name }}</a></li>
  	    {% endfor %}
  	  </ul>
  	</div>
  </div>
{% endblock %}
