.ajax-spinner-div {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('../img/ajax-spinner.gif')
                50% 50%
                no-repeat;
}

body.ajax-spinner-class {
    overflow: hidden;
}

body.ajax-spinner-class .ajax-spinner-div {
    display: block;
}
