{% extends 'user/base.html' %}

{% block head_title %}Monitor{% endblock %}

{% block head_extra %}
    <script type="text/javascript">
        {% autoescape off %}
        var mon_driver = {{ MON_DRIVER }};
        {%  endautoescape %}
        var active_driver = mon_driver[mon_driver['active']];
    </script>
    {{ block.super }}
{% endblock %}

{% block js_imports %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}user/d3.v3.js" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}user/jquery-ui-timepicker-addon.js"></script>
    <script src="{{ STATIC_URL }}user/monitor.js"></script>
{% endblock %}

{% block css_imports %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}user/jquery-ui-timepicker-addon.css">
{% endblock %}

{% block nav_monitor %}active{% endblock %}

{% block title %}
    <h2>Monitor</h2>
{% endblock %}

{% block content %}
    <div id="monitor_container">

        <div id="abc">
            <div id="datetime">
                <input type="text" id="from" name="from" placeholder="From"/>
                <input type="text" id="to" name="to" placeholder="To"/>
                <br>
            </div>

            <div id="metrics"></div>
            <div id="providers"></div>
        </div>
        <hr>
        <div id="ajax-loader"><img src="/static/user/ajax-loader.gif"/></div>
        <div id="sunburst-charts"></div>
        <div id="single-metric-charts"></div>
        <div id="stacked-charts"></div>

        <div class="tooltip"></div>

        <div id="dialog-modal" title="Chart">
            <p></p>
        </div>

    </div>
{% endblock %}
