{% extends 'provider/base.html' %}

{% load common ui %}

{% block head_title %}{{ provider.name }}{% endblock %}

{% block nav_dashboard %}active{% endblock %}

{% block subnav_container %}{% endblock %}
{% block content_class %}span12{% endblock %}

{% block title %}
  <h2>{{ provider.name }}</h2>
{% endblock title %}

{% block content %}
  <div class="row">
    <div class="span4">
      <h3><a href="{% url provider_ovfs provider.id %}">OVFs</a></h3>
      <ul class="nav nav-tabs nav-stacked">
        {% for ovf in provider.ovfs.full %}
          <li><a href="{% url provider_ovfs_detail provider.id ovf.id %}">{{ ovf.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    
    <div class="span4">
      <h3><a href="{% url provider_slats provider.id %}">SLATs</a></h3>
      <ul class="nav nav-tabs nav-stacked">
        {% for slat in provider.slats.full %}
          <li><a href="{% url provider_slats_detail provider.id slat.id %}">{{ slat.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    
    <div class="span4">
      <h3><a href="{% url provider_vms provider.id %}">VMs</a></h3>
      <ul class="nav nav-tabs nav-stacked">
        {% for vm in provider.vms.full %}
          <li><a href="{% url provider_vms_detail provider.id vm.id %}">{{ vm.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  
  <div class="row">
    <div class="span4">
      <h3><a href="{% url provider_servers provider.id %}">Servers</a></h3>
      <ul class="nav nav-tabs nav-stacked">
        {% for server in provider.servers.full %}
          <li><a href="{% url provider_servers_detail provider.id server.id %}">{{ server.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    
    <div class="span4">
      <h3><a href="{% url provider_clusters provider.id %}">Clusters</a></h3>
      <ul class="nav nav-tabs nav-stacked">
        {% for cluster in provider.clusters.full %}
          <li><a href="{% url provider_clusters_detail provider.id cluster.id %}">{{ cluster.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    
    <div class="span4">
      <h3><a href="{% url provider_vos provider.id %}">VOs</a></h3>
      <ul class="nav nav-tabs nav-stacked">
        {% for vo in provider.vos.full %}
          <li><a href="{% url provider_vos_detail provider.id vo.id %}">{{ vo.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
